<p>Whole House Power</p>
<p><iframe width="450" height="260" style="border: 1px solid #cccccc;" src="http://api.thingspeak.com/channels/52349/charts/1?width=450&height=260&results=180&dynamic=true&title=Whole%20House&api_key=IS81H97RZ3UA1FO7" ></iframe></p>
<p>Office Power</p>
<p><iframe width="450" height="260" style="border: 1px solid #cccccc;" src="http://api.thingspeak.com/channels/52349/charts/2?width=450&height=260&results=180&dynamic=true&title=Office&api_key=IS81H97RZ3UA1FO7" ></iframe></p>
